body{
    background-image: url(background.png);
}
h1{
    font-family: monospace;
    text-align: center;
    margin-top: 3%;
}
.leftUp{
    font-family: monospace;
    margin: 3%;
    margin-left: 15%;
    padding: 3%;
    background-color: rgba(229, 229, 229, 0.5);
    border-radius: 2px;
}
.rightDown{
    font-family: monospace;
    margin: -15%;
    margin-left: 50%;
    padding: 3%;
    background-color: rgba(165, 165, 165, 0.5);
    border-radius: 2px;
}
section > p{
    margin: 3%;
} 
li{
    margin: 1%;
}