body{
    background-image: url(background.png);
}
h1{
    font-family: monospace;
    text-align: center;
    margin-top: 8%;
}
/*
p{
    margin: 3%;
}
*/
.leftUp{
    font-family: monospace;
    margin: 5%;
    margin-left: 15%;
    padding: 3%;
    background-color: rgba(229, 229, 229, 0.5);
}
section > p{
    margin: 3%;
} 